JsatReadme - 05 - README AI Generator.json
{
  "name": "JsatReadme - 05 - README AI Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "7f777728-69c2-450d-9a6b-4d03417adeae",
      "name": "When executed by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        16,
        112
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// --- CONFIGURACION PARA PRUEBAS ---\n// Si estos valores no son null, sobrescribiran lo que venga de los flujos anteriores.\n// Ideal para forzar pruebas rapidas sin pelear con n8n.\n// Para volver a produccion (procesar todo), dejalos en null.\nconst FORZAR_BATCH_INDEX = 1; // Cambiar a null para produccion\nconst FORZAR_BATCH_SIZE = 3;  // Cambiar a null para produccion\nconst FORZAR_MODELO = null;   // Ej: 'qwen2.5:3b' (si es null usa el que venga por defecto)\n// ----------------------------------\n\nconst rows = $input.all().map((item) => item.json || {});\nconst sourceRow = rows.find((row) => row && row.rawRelease) || rows.find((row) => row && row.fullEvidence) || rows.find((row) => row && row.prompt) || rows[0] || {};\nconst rawRelease = sourceRow.rawRelease || null;\nconst fullEvidence = sourceRow.fullEvidence || null;\nconst release = (rawRelease && rawRelease.release) || (fullEvidence && fullEvidence.release) || sourceRow.release || {};\nconst legacyPrompt = (!rawRelease && !fullEvidence)\n  ? (String(sourceRow.prompt || sourceRow.aiPrompt || sourceRow.readmePrompt || '').trim() || null)\n  : null;\nconst requestedBatchSize = FORZAR_BATCH_SIZE !== null ? FORZAR_BATCH_SIZE : Number(sourceRow.batchCommitSize || sourceRow.batchSize || 5);\nconst batchCommitSize = Math.max(1, Math.min(Number.isFinite(requestedBatchSize) ? requestedBatchSize : 5, 20));\nconst rawBatchIndex = FORZAR_BATCH_INDEX !== null ? String(FORZAR_BATCH_INDEX) : String(sourceRow.batchIndex ?? sourceRow.batch ?? '').trim();\nconst batchIndex = rawBatchIndex ? Math.max(1, Number(rawBatchIndex)) : null;\nconst localAiBaseUrl = String(sourceRow.localAiBaseUrl || 'http://localhost:11434').trim() || 'http://localhost:11434';\nconst localAiModel = FORZAR_MODELO !== null ? FORZAR_MODELO : (String(sourceRow.localAiModel || 'qwen2.5:3b').trim() || 'qwen2.5:3b');\nconst requestedBudget = Number(sourceRow.maxAiPayloadChars || sourceRow.aiPayloadMeta?.maxAiPayloadChars || 12000);\nconst maxAiPayloadChars = Math.max(4000, Math.min(Number.isFinite(requestedBudget) ? requestedBudget : 12000, 24000));\n\nif (rawBatchIndex && (!Number.isFinite(batchIndex) || batchIndex < 1)) {\n  throw new Error('batchIndex debe ser un entero positivo o vacio para procesar todos los lotes.');\n}\n\nif (!rawRelease && !fullEvidence && !legacyPrompt) {\n  throw new Error('Missing release evidence. Expected rawRelease, fullEvidence or prompt from workflow 04.');\n}\n\nreturn [{\n  json: {\n    kind: 'technicalBatchPipelineInput',\n    release: release,\n    rawRelease: rawRelease,\n    fullEvidence: fullEvidence,\n    legacyPrompt: legacyPrompt,\n    batchCommitSize: batchCommitSize,\n    batchIndex: batchIndex,\n    localAiBaseUrl: localAiBaseUrl,\n    localAiModel: localAiModel,\n    maxAiPayloadChars: maxAiPayloadChars\n  }\n}];"
      },
      "id": "c42fad26-b667-4c74-950e-44e228fa4450",
      "name": "Normalize batch pipeline input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        112
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json || {};\nconst rawRelease = input.rawRelease || {};\nconst fullEvidence = input.fullEvidence || {};\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction unique(values) {\n  return [...new Set(asArray(values).filter(Boolean))];\n}\n\nfunction normalizeActor(value) {\n  if (!value) return null;\n  if (typeof value === 'string') return value.trim() || null;\n  if (typeof value !== 'object') return String(value).trim() || null;\n  return String(\n    value.displayName ||\n    value.name ||\n    value.login ||\n    value.username ||\n    value.emailAddress ||\n    value.email ||\n    value.id ||\n    ''\n  ).trim() || null;\n}\n\nfunction isVisibleFile(file) {\n  const filename = String((file && file.filename) || '').trim();\n  if (!filename) return false;\n  const baseName = filename.split(/[\\/\\\\]/).pop() || filename;\n  return !/^image-\\d{8}-\\d{6}\\.(png|jpg|jpeg|gif|webp)$/i.test(baseName);\n}\n\nfunction cleanCommitMessage(message) {\n  let text = String(message || '');\n  text = text.replace(/\\/\\*+/g, ' ');\n  text = text.replace(/\\*+\\//g, ' ');\n  text = text.replace(/(^|\\s)\\/+(?=\\S)/g, ' ');\n  text = text.replace(/(?<=\\S)\\/+(?=\\s|$)/g, ' ');\n  text = text.replace(/\\s+/g, ' ').trim();\n  return text || 'Sin detalle de mensaje';\n}\n\nfunction compactText(value, max) {\n  const text = String(value || '').replace(/\\s+/g, ' ').trim();\n  if (!text) return null;\n  if (text.length > max) return text.slice(0, max - 3).trimEnd() + '...';\n  return text;\n}\n\nfunction formatDateTime(value) {\n  if (!value) return null;\n  const text = String(value).trim();\n  if (/^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$/.test(text)) return text;\n  const date = new Date(text);\n  if (Number.isNaN(date.getTime())) return text;\n  return date.toISOString().replace('T', ' ').slice(0, 19);\n}\n\nfunction formatStats(stats, filesCount) {\n  if (!stats || typeof stats !== 'object') {\n    return filesCount ? filesCount + ' archivos' : null;\n  }\n  const additions = stats.additions !== undefined ? stats.additions : (stats.added !== undefined ? stats.added : null);\n  const deletions = stats.deletions !== undefined ? stats.deletions : (stats.removed !== undefined ? stats.removed : null);\n  const changes = stats.total !== undefined ? stats.total : (stats.changes !== undefined ? stats.changes : null);\n  const parts = [];\n  if (additions !== null) parts.push('+' + additions);\n  if (deletions !== null) parts.push('-' + deletions);\n  if (changes !== null) parts.push(changes + ' cambios');\n  if (filesCount) parts.push(filesCount + ' archivos');\n  return parts.length ? parts.join(' | ') : null;\n}\n\nfunction sanitizeCommit(commit) {\n  const clone = Object.assign({}, commit || {});\n  clone.message = cleanCommitMessage(clone.message);\n  clone.author = normalizeActor(clone.author);\n  clone.files = asArray(clone.files).filter(isVisibleFile);\n  clone.originSisKeys = asArray(clone.originSisKeys);\n  clone.isMergeCommit = Boolean(clone.isMergeCommit) || /^merge\\b/i.test(clone.message);\n  return clone;\n}\n\nfunction sanitizeIssue(issue) {\n  const clone = Object.assign({}, issue || {});\n  clone.comments = asArray(clone.comments).slice(0, 2).map((comment) => ({\n    ...comment,\n    author: normalizeActor(comment && comment.author)\n  }));\n  clone.assignee = normalizeActor(clone.assignee);\n  clone.labels = asArray(clone.labels);\n  clone.components = asArray(clone.components);\n  clone.fixVersions = asArray(clone.fixVersions);\n  clone.originCommitShas = asArray(clone.originCommitShas);\n  clone.relationships = clone.relationships || {};\n  clone.fetchErrors = asArray(clone.fetchErrors);\n  return clone;\n}\n\nfunction renderRecList(recKeys, recMap) {\n  if (!recKeys.length) return '';\n  const lines = ['#### REC relacionados'];\n  for (const recKey of recKeys) {\n    const rec = recMap.get(recKey);\n    const summary = compactText(rec && rec.summary, 140);\n    lines.push(summary ? '- ' + recKey + ' - ' + summary : '- ' + recKey);\n  }\n  return lines.join('\\n');\n}\n\nfunction renderJiraSection(issueLike) {\n  const lines = ['#### Jira'];\n  if (issueLike.status) lines.push('- Estado: ' + issueLike.status);\n  if (issueLike.issueType) lines.push('- Tipo: ' + issueLike.issueType);\n  if (issueLike.priority) lines.push('- Prioridad: ' + issueLike.priority);\n  if (issueLike.assignee) lines.push('- Responsable: ' + issueLike.assignee);\n  if (issueLike.labels.length) lines.push('- Etiquetas: ' + issueLike.labels.join(', '));\n  if (issueLike.components.length) lines.push('- Componentes: ' + issueLike.components.join(', '));\n  if (issueLike.fixVersions.length) lines.push('- FixVersions: ' + issueLike.fixVersions.join(', '));\n  if (issueLike.relatedSis.length) lines.push('- SIS relacionados: ' + issueLike.relatedSis.join(', '));\n  if (issueLike.recKeys.length) lines.push('- REC: ' + issueLike.recKeys.join(', '));\n  if (issueLike.description) lines.push('- Descripcion: ' + issueLike.description);\n  return lines.join('\\n');\n}\n\nfunction renderCommentsSection(comments) {\n  const validComments = asArray(comments).filter((comment) => comment && comment.body);\n  if (!validComments.length) return '';\n  const lines = ['#### Resumen de comentarios Jira'];\n  for (const comment of validComments) {\n    const meta = [formatDateTime(comment.created), comment.author].filter(Boolean).join(' - ');\n    const summary = compactText(comment.body, 320);\n    lines.push(meta ? '- ' + meta + ': ' + summary : '- ' + summary);\n  }\n  return lines.join('\\n');\n}\n\nfunction renderFilesSection(files) {\n  const validFiles = asArray(files).filter((file) => file && file.filename);\n  if (!validFiles.length) return '';\n  const lines = ['##### Archivos modificados'];\n  for (const file of validFiles) {\n    const metrics = [\n      file.status || 'modified',\n      file.additions !== undefined ? '+' + file.additions : null,\n      file.deletions !== undefined ? '-' + file.deletions : null,\n      file.changes !== undefined ? file.changes + ' cambios' : null\n    ].filter(Boolean).join(' | ');\n    lines.push('- ' + file.filename + (metrics ? ' - ' + metrics : ''));\n  }\n  return lines.join('\\n');\n}\n\nfunction renderCommitSection(commit) {\n  const shortSha = commit.sha ? String(commit.sha).slice(0, 10) : 'sin-sha';\n  const meta = [formatDateTime(commit.date), commit.author].filter(Boolean).join(' - ');\n  const lines = ['- ' + shortSha + (meta ? ' - ' + meta : '')];\n  lines.push('  Mensaje: ' + cleanCommitMessage(commit.message));\n  const stats = commit.statsText || formatStats(commit.stats, commit.files.length);\n  if (stats) lines.push('  Stats: ' + stats);\n  const filesSection = renderFilesSection(commit.files);\n  if (filesSection) lines.push(filesSection);\n  return lines.join('\\n');\n}\n\nfunction buildCompactIssue(issue, linkedCommits, recMap) {\n  const recKeys = unique(asArray(issue.relationships ? issue.relationships.recKeys : []));\n  return {\n    k: issue.key,\n    t: issue.summary || issue.key,\n    st: issue.status || null,\n    tp: issue.issueType || null,\n    p: issue.priority || null,\n    a: issue.assignee || null,\n    l: issue.labels,\n    cp: issue.components,\n    fv: issue.fixVersions,\n    rs: unique(asArray(issue.relationships ? issue.relationships.relatedSisKeys : [])),\n    rr: recKeys,\n    d: compactText(issue.description, 1600),\n    cm: asArray(issue.comments)\n      .filter((comment) => comment && comment.body)\n      .map((comment) => ({\n        dt: formatDateTime(comment.created),\n        au: normalizeActor(comment.author),\n        b: compactText(comment.body, 320)\n      })),\n    c: linkedCommits.map((commit) => ({\n      sh: commit.sha || null,\n      dt: formatDateTime(commit.date),\n      au: normalizeActor(commit.author),\n      m: cleanCommitMessage(commit.message),\n      sg: formatStats(commit.stats, commit.files.length),\n      f: asArray(commit.files).filter((file) => file && file.filename).map((file) => ({\n        p: file.filename,\n        s: file.status || 'modified',\n        a: file.additions !== undefined ? file.additions : null,\n        d: file.deletions !== undefined ? file.deletions : null,\n        c: file.changes !== undefined ? file.changes : null\n      }))\n    })),\n    recMap: recMap\n  };\n}\n\nfunction buildSegmentPayload(issuePayload, commitsSlice, includeDetails, partIndex, partCount, releaseVersion) {\n  return {\n    r: releaseVersion,\n    k: issuePayload.k,\n    pt: partIndex,\n    pc: partCount,\n    s: {\n      k: issuePayload.k,\n      t: issuePayload.t,\n      st: includeDetails ? issuePayload.st : null,\n      tp: includeDetails ? issuePayload.tp : null,\n      p: includeDetails ? issuePayload.p : null,\n      a: includeDetails ? issuePayload.a : null,\n      l: includeDetails ? issuePayload.l : [],\n      cp: includeDetails ? issuePayload.cp : [],\n      fv: includeDetails ? issuePayload.fv : [],\n      rs: includeDetails ? issuePayload.rs : [],\n      rr: includeDetails ? issuePayload.rr : [],\n      d: includeDetails ? issuePayload.d : null,\n      cm: includeDetails ? issuePayload.cm : [],\n      c: commitsSlice.map((commit) => ({\n        sh: commit.sh,\n        dt: commit.dt,\n        au: commit.au,\n        m: commit.m,\n        sg: commit.sg,\n        f: commit.f\n      }))\n    }\n  };\n}\n\nfunction splitLargeCommit(commit, buildPayload, budget) {\n  const files = asArray(commit.f);\n  if (!files.length) {\n    return [{\n      sh: commit.sh,\n      dt: commit.dt,\n      au: commit.au,\n      m: compactText(commit.m, 400),\n      sg: commit.sg,\n      f: []\n    }];\n  }\n\n  const fragments = [];\n  let current = [];\n\n  for (const file of files) {\n    const candidate = current.concat([file]);\n    const candidateCommit = { ...commit, f: candidate };\n    if (current.length && JSON.stringify(buildPayload([candidateCommit])).length > budget) {\n      fragments.push({ ...commit, f: current.slice() });\n      current = [file];\n      continue;\n    }\n    current = candidate;\n  }\n\n  if (current.length) {\n    fragments.push({ ...commit, f: current.slice() });\n  }\n\n  return fragments;\n}\n\nfunction splitIssueByBudget(issuePayload, budget, releaseVersion, maxCommitsPerSegment) {\n  const commits = asArray(issuePayload.c);\n  if (!commits.length) {\n    return [buildSegmentPayload(issuePayload, [], true, 1, 1, releaseVersion)];\n  }\n\n  const segments = [];\n  let current = [];\n  let currentPart = 1;\n\n  const measure = (commitsSlice, includeDetails) => JSON.stringify(buildSegmentPayload(issuePayload, commitsSlice, includeDetails, currentPart, 999, releaseVersion)).length;\n\n  for (const commit of commits) {\n    const includeDetails = segments.length === 0;\n    const singleSize = measure([commit], includeDetails);\n    if (singleSize > budget) {\n      const fragments = splitLargeCommit(commit, (slice) => buildSegmentPayload(issuePayload, slice, includeDetails && current.length === 0, currentPart, 999, releaseVersion), budget);\n      for (const fragment of fragments) {\n        const candidate = current.concat([fragment]);\n        if (current.length && (measure(candidate, includeDetails) > budget || candidate.length > maxCommitsPerSegment)) {\n          segments.push({ commits: current.slice(), includeDetails });\n          current = [fragment];\n          currentPart += 1;\n        } else {\n          current = candidate;\n        }\n      }\n      continue;\n    }\n\n    const candidate = current.concat([commit]);\n    if (current.length && (measure(candidate, includeDetails) > budget || candidate.length > maxCommitsPerSegment)) {\n      segments.push({ commits: current.slice(), includeDetails });\n      current = [commit];\n      currentPart += 1;\n      continue;\n    }\n\n    current = candidate;\n  }\n\n  if (current.length || !segments.length) {\n    segments.push({ commits: current.slice(), includeDetails: segments.length === 0 });\n  }\n\n  return segments.map((segment, index) => buildSegmentPayload(issuePayload, segment.commits, segment.includeDetails, index + 1, segments.length, releaseVersion));\n}\n\nfunction renderSegmentMarkdown(payload, recMap) {\n  const issueLike = {\n    status: payload.s.st,\n    issueType: payload.s.tp,\n    priority: payload.s.p,\n    assignee: payload.s.a,\n    labels: asArray(payload.s.l),\n    components: asArray(payload.s.cp),\n    fixVersions: asArray(payload.s.fv),\n    relatedSis: asArray(payload.s.rs),\n    recKeys: asArray(payload.s.rr),\n    description: payload.s.d\n  };\n  const segmentCommits = asArray(payload.s.c).map((commit) => ({\n    sha: commit.sh,\n    date: commit.dt,\n    author: commit.au,\n    message: commit.m,\n    stats: null,\n    statsText: commit.sg || null,\n    files: asArray(payload.s.c).length > 0 ? asArray(commit.f).map((file) => ({\n      filename: file.p,\n      status: file.s,\n      additions: file.a,\n      deletions: file.d,\n      changes: file.c\n    })) : []\n  }));\n  const commentSection = renderCommentsSection(asArray(payload.s.cm).map((comment) => ({ created: comment.dt, author: comment.au, body: comment.b })));\n  const recSection = renderRecList(asArray(payload.s.rr), recMap);\n  const titleSuffix = payload.pc > 1 ? ' (parte ' + payload.pt + '/' + payload.pc + ')' : '';\n  const sections = [\n    '### ' + payload.s.k + ' - ' + payload.s.t + titleSuffix,\n    renderJiraSection(issueLike),\n    recSection,\n    '#### Commits asociados',\n    segmentCommits.length ? segmentCommits.map(renderCommitSection).join('\\n\\n') : '- Sin commits asociados en este segmento.',\n    commentSection\n  ].filter(Boolean);\n  return sections.join('\\n\\n');\n}\n\nconst aiSystemPrompt = 'Converti JSON tecnico compacto a markdown legible para README. No inventes nada. Conserva todos los datos. IMPORTANTE: Incluye un breve resumen de los comentarios de Jira. Claves: r=release, k=sis, pt/pc=parte, s=detalle SIS, st=estado, tp=tipo, p=prioridad, a=responsable, l=labels, cp=componentes, fv=fixVersions, rs=sis relacionados, rr=rec, d=descripcion, cm=comentarios, c=commits, sh=sha, dt=fecha, au=autor, m=mensaje, sg=stats, f=archivos, p/s/a/d/c=ruta estado adds dels changes.';\n\nconst baseSummary = (fullEvidence.diagnostics && fullEvidence.diagnostics.stats) || (rawRelease.diagnostics && rawRelease.diagnostics.stats) || {};\n\n// Drop merge commits aggressively here in case old payloads are sent\nconst commitsWithoutSis = (fullEvidence.commitsWithoutSis || (rawRelease.diagnostics ? rawRelease.diagnostics.commitsWithoutSIS : []) || [])\n  .filter(c => !c.isMergeCommit && !/^merge\\b/i.test(String(c.message || '').trim()));\n\nconst sisWithoutRec = fullEvidence.sisWithoutRec || (rawRelease.diagnostics ? rawRelease.diagnostics.sisWithoutREC : []) || [];\nconst requestedBatchIndex = input.batchIndex ? Number(input.batchIndex) : null;\nconst localAiBaseUrl = String(input.localAiBaseUrl || 'http://localhost:11434').trim() || 'http://localhost:11434';\nconst localAiModel = String(input.localAiModel || 'qwen3:32b').trim() || 'qwen3:32b';\nconst maxAiPayloadChars = Math.max(4000, Math.min(Number(input.maxAiPayloadChars || 12000), 24000));\nconst maxCommitsPerSegment = Math.max(1, Math.min(Number(input.batchCommitSize || 5), 50));\n\nif (requestedBatchIndex !== null && (!Number.isInteger(requestedBatchIndex) || requestedBatchIndex < 1)) {\n  throw new Error('batchIndex debe ser un entero positivo o vacio para procesar todos los lotes.');\n}\n\nif (input.legacyPrompt) {\n  return [{ json: { kind: 'technicalBatchRequest', batchIndex: 1, batchCount: 1, totalBatchCount: 1, batchCommitShas: [], batchSisKeys: [], release: input.release || {}, prompt: input.legacyPrompt, aiInputJson: input.legacyPrompt, aiSystemPrompt: aiSystemPrompt, technicalMarkdown: input.legacyPrompt, globalSummary: globalSummary, commitsWithoutSis: commitsWithoutSis, sisWithoutRec: sisWithoutRec, localAiBaseUrl: localAiBaseUrl, localAiModel: localAiModel } }];\n}\n\n// Drop merge commits aggressively here too\nconst commits = asArray(rawRelease.commits)\n  .map(sanitizeCommit)\n  .filter(c => !c.isMergeCommit);\n\nconst workItems = asArray(rawRelease.workItems).map(sanitizeIssue);\nconst recItems = asArray(rawRelease.recItems).map(sanitizeIssue);\nconst relationships = rawRelease.relationships || {};\nconst globalSummary = {\n  ...baseSummary,\n  commits: commits.length || baseSummary.commits,\n  commitsWithFiles: commits.filter((commit) => commit.files.length > 0).length,\n  filesTotal: commits.reduce((total, commit) => total + commit.files.length, 0)\n};\nconst commitToSis = asArray(relationships.commitToSis);\nconst releaseVersion = (input.release && input.release.currentVersion) || (rawRelease.release && rawRelease.release.currentVersion) || 'sin-version';\nconst recMap = new Map(recItems.map((item) => [item.key, item]));\nconst commitsBySha = new Map(commits.filter((commit) => commit.sha).map((commit) => [commit.sha, commit]));\nconst sisToCommitShas = new Map();\n\nfor (const relation of commitToSis) {\n  if (!relation || !relation.sisKey || !relation.commitSha) continue;\n  if (!sisToCommitShas.has(relation.sisKey)) sisToCommitShas.set(relation.sisKey, []);\n  sisToCommitShas.get(relation.sisKey).push(relation.commitSha);\n}\n\nif (!commits.length && !workItems.length) {\n  const technicalMarkdown = '### Sin evidencia\\n\\n- No se encontraron commits ni SIS en la evidencia.';\n  return [{ json: { kind: 'technicalBatchRequest', batchIndex: 1, batchCount: 1, totalBatchCount: 1, batchCommitShas: [], batchSisKeys: [], release: input.release || {}, globalSummary: globalSummary, commitsWithoutSis: commitsWithoutSis, sisWithoutRec: sisWithoutRec, localAiBaseUrl: localAiBaseUrl, localAiModel: localAiModel, aiSystemPrompt: aiSystemPrompt, aiInputJson: JSON.stringify({ r: releaseVersion, note: 'sin evidencia' }), prompt: 'compact-ai-input', technicalMarkdown: technicalMarkdown } }];\n}\n\nconst sisSegments = [];\nfor (const issue of workItems) {\n  if (!issue.key) continue;\n  const relatedCommitShas = unique(issue.originCommitShas.concat(asArray(sisToCommitShas.get(issue.key)), commits.filter((commit) => commit.originSisKeys.includes(issue.key)).map((commit) => commit.sha)));\n  const linkedCommits = relatedCommitShas.map((sha) => commitsBySha.get(sha)).filter(Boolean);\n  const issuePayload = buildCompactIssue(issue, linkedCommits, recMap);\n  const segments = splitIssueByBudget(issuePayload, maxAiPayloadChars, releaseVersion, maxCommitsPerSegment);\n  for (const payload of segments) {\n    sisSegments.push({\n      sisKey: issue.key,\n      payload,\n      technicalMarkdown: renderSegmentMarkdown(payload, recMap),\n      batchCommitShas: unique(asArray(payload.s.c).map((commit) => commit.sh).filter(Boolean))\n    });\n  }\n}\n\nif (!sisSegments.length) {\n  const technicalMarkdown = '### Sin SIS procesables\\n\\n- No se generaron segmentos por SIS con la evidencia disponible.';\n  return [{ json: { kind: 'technicalBatchRequest', batchIndex: 1, batchCount: 1, totalBatchCount: 1, batchCommitShas: [], batchSisKeys: [], release: input.release || {}, globalSummary: globalSummary, commitsWithoutSis: commitsWithoutSis, sisWithoutRec: sisWithoutRec, localAiBaseUrl: localAiBaseUrl, localAiModel: localAiModel, aiSystemPrompt: aiSystemPrompt, aiInputJson: JSON.stringify({ r: releaseVersion, note: 'sin sis procesables' }), prompt: 'compact-ai-input', technicalMarkdown: technicalMarkdown } }];\n}\n\nconst groupedBatches = [];\nlet currentBatch = [];\nlet currentSisCount = 0;\nlet currentLength = 0;\n\nfor (const seg of sisSegments) {\n  const segLength = JSON.stringify(seg.payload).length;\n\n  if (currentBatch.length > 0 && (currentSisCount >= maxCommitsPerSegment || currentLength + segLength > maxAiPayloadChars)) {\n    groupedBatches.push(currentBatch);\n    currentBatch = [];\n    currentSisCount = 0;\n    currentLength = 0;\n  }\n  \n  currentBatch.push(seg);\n  currentSisCount += 1;\n  currentLength += segLength;\n}\nif (currentBatch.length > 0) {\n  groupedBatches.push(currentBatch);\n}\n\nconst selectedBatches = requestedBatchIndex === null ? groupedBatches : [groupedBatches[requestedBatchIndex - 1]].filter(Boolean);\nif (!selectedBatches.length) {\n  throw new Error('batchIndex fuera de rango. Lotes disponibles: ' + groupedBatches.length + '.');\n}\n\nreturn selectedBatches.map((batch, selectedIndex) => {\n  const sourceBatchIndex = requestedBatchIndex === null ? selectedIndex + 1 : requestedBatchIndex;\n  const combinedPayload = batch.map(b => b.payload);\n  const combinedMarkdown = batch.map(b => b.technicalMarkdown).join('\\n\\n');\n  const combinedSisKeys = unique(batch.map(b => b.sisKey));\n  const combinedCommitShas = unique(batch.flatMap(b => b.batchCommitShas));\n\n  return {\n    json: {\n      kind: 'technicalBatchRequest',\n      batchIndex: sourceBatchIndex,\n      batchCount: selectedBatches.length,\n      totalBatchCount: groupedBatches.length,\n      batchCommitShas: combinedCommitShas,\n      batchSisKeys: combinedSisKeys,\n      sisKey: combinedSisKeys.join(', '),\n      release: input.release || rawRelease.release || {},\n      globalSummary: globalSummary,\n      commitsWithoutSis: commitsWithoutSis,\n      sisWithoutRec: sisWithoutRec,\n      localAiBaseUrl: localAiBaseUrl,\n      localAiModel: localAiModel,\n      maxAiPayloadChars: maxAiPayloadChars,\n      aiSystemPrompt: aiSystemPrompt.replace('Converti JSON tecnico compacto', 'Converti el arreglo de JSONs tecnicos compactos'),\n      aiInputJson: JSON.stringify(combinedPayload),\n      prompt: 'compact-ai-json',\n      technicalMarkdown: combinedMarkdown\n    }\n  };\n});"
      },
      "id": "5f35765d-0e17-43a6-95c4-c73ed1d1c2a8",
      "name": "Build technical commit batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (($json.localAiBaseUrl || 'http://localhost:11434').replace(/\\/$/, '')) + '/api/generate' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.localAiModel || 'qwen3:32b', system: $json.aiSystemPrompt || '', prompt: $json.aiInputJson || $json.aiInputMarkdown || $json.technicalMarkdown || $json.prompt, stream: false, options: { temperature: 0.1 } } }}",
        "options": {
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        112
      ],
      "id": "fe4c79d4-6cf9-468a-af7d-961c17c44a86",
      "name": "AI Agent tecnico",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function cleanCommitMessage(message) {\n  let text = String(message || '');\n  text = text.replace(/\\/\\*+/g, ' ');\n  text = text.replace(/\\*+\\//g, ' ');\n  text = text.replace(/(^|\\s)\\/+(?=\\S)/g, ' ');\n  text = text.replace(/(?<=\\S)\\/+(?=\\s|$)/g, ' ');\n  text = text.replace(/\\s+/g, ' ').trim();\n  return text || 'Sin detalle de mensaje';\n}\n\nfunction normalizeMarkdown(text) {\n  return String(text || '')\n    .replace(/Mensaje:\\s*(.+)$/gm, (_, message) => 'Mensaje: ' + cleanCommitMessage(message))\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction countSectionItems(markdown, heading) {\n  const text = String(markdown || '');\n  const escaped = heading.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const regex = new RegExp('^' + escaped + '\\\\s*$([\\\\s\\\\S]*?)(?=^####?#?\\\\s|\\\\Z)', 'im');\n  const match = text.match(regex);\n  if (!match) return 0;\n  return match[1]\n    .split(/\\r?\\n/)\n    .map((line) => line.trim())\n    .filter((line) => /^-\\s+/.test(line)).length;\n}\n\nfunction shouldUseFallback(fallback, candidate) {\n  if (!candidate) return true;\n\n  const fallbackHasComments = fallback.includes('#### Resumen de comentarios Jira');\n  const candidateHasComments = candidate.includes('#### Resumen de comentarios Jira');\n  if (fallbackHasComments && !candidateHasComments) return true;\n\n  const fallbackHasFiles = fallback.includes('##### Archivos modificados');\n  const candidateHasFiles = candidate.includes('##### Archivos modificados');\n  if (fallbackHasFiles && !candidateHasFiles) return true;\n\n  const fallbackCommentItems = countSectionItems(fallback, '#### Resumen de comentarios Jira');\n  const candidateCommentItems = countSectionItems(candidate, '#### Resumen de comentarios Jira');\n  if (candidateCommentItems < fallbackCommentItems) return true;\n\n  const fallbackFileItems = countSectionItems(fallback, '##### Archivos modificados');\n  const candidateFileItems = countSectionItems(candidate, '##### Archivos modificados');\n  if (candidateFileItems < fallbackFileItems) return true;\n\n  return false;\n}\n\nconst source = (() => {\n  try {\n    return $('Build technical commit batches').item.json || {};\n  } catch (error) {\n    return {};\n  }\n})();\n\nconst current = $json || {};\nconst fallbackMarkdown = normalizeMarkdown(current.technicalMarkdown || source.technicalMarkdown || '');\nconst aiSource = current.output || current.text || current.response || current.body?.output || current.body?.text || current.body?.response || '';\nconst aiMarkdown = normalizeMarkdown(aiSource);\nconst errorText = String(current.error?.message || current.error?.description || current.message || current.body?.error || '').trim();\nconst fallbackRequired = shouldUseFallback(fallbackMarkdown, aiMarkdown);\nconst markdown = fallbackRequired ? fallbackMarkdown : aiMarkdown;\nlet status = 'generated';\n\nif (fallbackRequired) {\n  if (/timeout|timed out|aborted|socket hang up|ECONNRESET|offline/i.test(errorText)) {\n    status = 'timeoutFallback';\n  } else if (errorText) {\n    status = 'requestErrorFallback';\n  } else if (aiMarkdown && aiMarkdown !== fallbackMarkdown) {\n    status = 'generatedWithFallback';\n  } else {\n    status = 'emptyResponseFallback';\n  }\n}\n\nreturn {\n  json: {\n    kind: 'technicalBatchMarkdown',\n    batchIndex: Number(current.batchIndex || source.batchIndex || 0),\n    batchCount: Number(current.batchCount || source.batchCount || 0),\n    batchCommitShas: Array.isArray(current.batchCommitShas) ? current.batchCommitShas : (Array.isArray(source.batchCommitShas) ? source.batchCommitShas : []),\n    batchSisKeys: Array.isArray(current.batchSisKeys) ? current.batchSisKeys : (Array.isArray(source.batchSisKeys) ? source.batchSisKeys : []),\n    sisKey: current.sisKey || source.sisKey || null,\n    release: current.release || source.release || {},\n    globalSummary: current.globalSummary || source.globalSummary || {},\n    commitsWithoutSis: Array.isArray(current.commitsWithoutSis) ? current.commitsWithoutSis : (Array.isArray(source.commitsWithoutSis) ? source.commitsWithoutSis : []),\n    sisWithoutRec: Array.isArray(current.sisWithoutRec) ? current.sisWithoutRec : (Array.isArray(source.sisWithoutRec) ? source.sisWithoutRec : []),\n    technicalMarkdown: markdown || null,\n    status: status,\n    error: errorText || null\n  }\n};"
      },
      "id": "08d9c701-5c73-43e7-8c8b-73764ea21eeb",
      "name": "Normalize technical batch response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        112
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map((item) => item.json || {});\nconst ordered = rows.sort((a, b) => Number(a.batchIndex || 0) - Number(b.batchIndex || 0));\nif (!ordered.length) throw new Error('No technical batch markdown was generated.');\n\nfunction cleanCommitMessage(message) {\n  let text = String(message || '');\n  text = text.replace(/\\/\\*+/g, ' ');\n  text = text.replace(/\\*+\\//g, ' ');\n  text = text.replace(/(^|\\s)\\/+(?=\\S)/g, ' ');\n  text = text.replace(/(?<=\\S)\\/+(?=\\s|$)/g, ' ');\n  text = text.replace(/\\s+/g, ' ').trim();\n  return text || 'Sin detalle de mensaje';\n}\n\nfunction cleanText(text) {\n  let value = String(text || '').trim();\n  value = value.replace(/^#\\s+Release\\s+.*?\\n+/i, '');\n  value = value.replace(/^##\\s+Alcance tecnico\\n+[\\s\\S]*?(?=^##\\s|^###\\s|\\Z)/im, '');\n  value = value.replace(/^##\\s+Resumen de trazabilidad\\n+[\\s\\S]*?(?=^##\\s|^###\\s|\\Z)/im, '');\n  value = value.replace(/Mensaje:\\s*(.+)$/gm, (_, message) => 'Mensaje: ' + cleanCommitMessage(message));\n  value = value.split(/\\r?\\n/).filter((line) => !/^\\s*-{3,}\\s*$/.test(line)).join('\\n');\n  value = value.replace(/\\n{3,}/g, '\\n\\n');\n  return value.trim();\n}\n\nconst release = ordered[0].release || {};\nconst releaseVersion = release.currentVersion || 'sin-version';\nconst globalSummary = ordered[0].globalSummary || {};\nconst commitsWithoutSis = ordered[0].commitsWithoutSis || [];\nconst sisWithoutRec = ordered[0].sisWithoutRec || [];\nconst mergedBatches = ordered.map((row) => cleanText(row.technicalMarkdown)).filter(Boolean).join('\\n\\n').trim();\n\nconst summaryLines = [\n  ['Commits totales', globalSummary.commits],\n  ['Commits con archivos', globalSummary.commitsWithFiles],\n  ['Archivos totales', globalSummary.filesTotal],\n  ['SIS primarios', globalSummary.primarySis],\n  ['SIS relacionados', globalSummary.relatedSis],\n  ['REC', globalSummary.recs],\n  ['SIS con comentarios', globalSummary.sisWithComments]\n].filter((entry) => entry[1] !== undefined && entry[1] !== null).map((entry) => '- ' + entry[0] + ': ' + entry[1]).join('\\n');\n\nconst commitsWithoutSisLines = commitsWithoutSis.length ? commitsWithoutSis.filter((commit) => !Boolean(commit && commit.isMergeCommit) && !/^merge\\b/i.test(String(commit && commit.message || ''))).slice(0, 120).map((commit) => {\n  const shortSha = commit && commit.sha ? String(commit.sha).slice(0, 10) : 'sin-sha';\n  const message = cleanCommitMessage((commit && commit.message) || 'sin mensaje');\n  return '- ' + shortSha + ': ' + message;\n}).join('\\n') : '';\n\nconst sisWithoutRecLines = sisWithoutRec.length ? sisWithoutRec.map((key) => '- ' + key).join('\\n') : '';\n\nlet finalReadme = '# Release ' + releaseVersion + '\\n';\nif (summaryLines) finalReadme += '\\n## Resumen de trazabilidad\\n' + summaryLines + '\\n';\nif (mergedBatches) finalReadme += '\\n## Cambios detallados\\n' + mergedBatches + '\\n';\nif (commitsWithoutSisLines) finalReadme += '\\n## Commits sin SIS\\n' + commitsWithoutSisLines + '\\n';\nif (sisWithoutRecLines) finalReadme += '\\n## SIS sin REC\\n' + sisWithoutRecLines + '\\n';\nfinalReadme = finalReadme.replace(/\\n{3,}/g, '\\n\\n').trim();\n\nreturn [{ json: { kind: 'technicalReadmeResult', status: finalReadme ? 'generated' : 'emptyResponse', technicalReadme: finalReadme || null, output: finalReadme || null, text: finalReadme || null, response: finalReadme || null, mergedMarkdown: mergedBatches || null, batchSummaries: ordered.map((row) => ({ batchIndex: row.batchIndex, sisKey: row.sisKey || null, batchCommitShas: row.batchCommitShas || [], batchSisKeys: row.batchSisKeys || [], status: row.status || 'unknown', error: row.error || null })) } }];"
      },
      "id": "3649680f-6ad9-4b48-aa7d-664e21d244b9",
      "name": "Assemble final README from commit batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When executed by another workflow": {
      "main": [
        [
          {
            "node": "Normalize batch pipeline input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize batch pipeline input": {
      "main": [
        [
          {
            "node": "Build technical commit batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build technical commit batches": {
      "main": [
        [
          {
            "node": "AI Agent tecnico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent tecnico": {
      "main": [
        [
          {
            "node": "Normalize technical batch response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize technical batch response": {
      "main": [
        [
          {
            "node": "Assemble final README from commit batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c8b59c23-195d-4ed3-98c7-8555a8cb7c90",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b16b1df538ba12dc3f97edbb85caa7050d46c148134290feba80f8236c83db9"
  },
  "id": "BJDjPtADWQvKMCxq",
  "tags": []
}
