JsatReadme - 05 - README AI Generator.json
{
  "name": "JsatReadme - 05 - README AI Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "7f777728-69c2-450d-9a6b-4d03417adeae",
      "name": "When executed by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        16,
        112
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map((item) => item.json || {});\nconst sourceRow = rows.find((row) => row && row.rawRelease) || rows.find((row) => row && row.fullEvidence) || rows.find((row) => row && row.prompt) || rows[0] || {};\nconst rawRelease = sourceRow.rawRelease || null;\nconst fullEvidence = sourceRow.fullEvidence || null;\nconst legacyPrompt = String(sourceRow.prompt || sourceRow.aiPrompt || sourceRow.readmePrompt || '').trim() || null;\nconst release = (rawRelease && rawRelease.release) || (fullEvidence && fullEvidence.release) || sourceRow.release || {};\nconst batchCommitSize = Math.max(1, Math.min(Number(sourceRow.batchCommitSize || sourceRow.batchSize || 5), 20));\n\nif (!rawRelease && !fullEvidence && !legacyPrompt) {\n  throw new Error('Missing release evidence. Expected rawRelease, fullEvidence or prompt from workflow 04.');\n}\n\nreturn [{\n  json: {\n    kind: 'technicalBatchPipelineInput',\n    release: release,\n    rawRelease: rawRelease,\n    fullEvidence: fullEvidence,\n    legacyPrompt: legacyPrompt,\n    batchCommitSize: batchCommitSize\n  }\n}];"
      },
      "id": "c42fad26-b667-4c74-950e-44e228fa4450",
      "name": "Normalize batch pipeline input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        112
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json || {};\nconst rawRelease = input.rawRelease || {};\nconst fullEvidence = input.fullEvidence || {};\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction chunk(items, size) {\n  const result = [];\n  for (let index = 0; index < items.length; index += size) {\n    result.push(items.slice(index, index + size));\n  }\n  return result;\n}\n\nfunction unique(values) {\n  return [...new Set(asArray(values).filter(Boolean))];\n}\n\nfunction cleanCommitMessage(message) {\n  let text = String(message || '');\n  text = text.replace(/\\/\\*+/g, ' ');\n  text = text.replace(/\\*+\\//g, ' ');\n  text = text.replace(/(^|\\s)\\/+(?=\\S)/g, ' ');\n  text = text.replace(/(?<=\\S)\\/+(?=\\s|$)/g, ' ');\n  text = text.replace(/\\s+/g, ' ').trim();\n  return text || 'Sin detalle de mensaje';\n}\n\nfunction compactText(value, max) {\n  const text = String(value || '').replace(/\\s+/g, ' ').trim();\n  if (!text) return null;\n  if (text.length > max) return text.slice(0, max - 3).trimEnd() + '...';\n  return text;\n}\n\nfunction formatDateTime(value) {\n  if (!value) return null;\n  const date = new Date(value);\n  if (Number.isNaN(date.getTime())) return String(value);\n  return date.toISOString().replace('T', ' ').slice(0, 19);\n}\n\nfunction formatStats(stats, filesCount) {\n  if (!stats || typeof stats !== 'object') {\n    return filesCount ? filesCount + ' archivos' : null;\n  }\n  const additions = stats.additions !== undefined ? stats.additions : (stats.added !== undefined ? stats.added : null);\n  const deletions = stats.deletions !== undefined ? stats.deletions : (stats.removed !== undefined ? stats.removed : null);\n  const changes = stats.total !== undefined ? stats.total : (stats.changes !== undefined ? stats.changes : null);\n  const parts = [];\n  if (additions !== null) parts.push('+' + additions);\n  if (deletions !== null) parts.push('-' + deletions);\n  if (changes !== null) parts.push(changes + ' cambios');\n  if (filesCount) parts.push(filesCount + ' archivos');\n  return parts.length ? parts.join(' | ') : null;\n}\n\nfunction sanitizeCommit(commit) {\n  const clone = Object.assign({}, commit || {});\n  clone.message = cleanCommitMessage(clone.message);\n  clone.files = asArray(clone.files);\n  return clone;\n}\n\nfunction sanitizeIssue(issue) {\n  const clone = Object.assign({}, issue || {});\n  clone.comments = asArray(clone.comments).slice(0, 2);\n  clone.labels = asArray(clone.labels);\n  clone.components = asArray(clone.components);\n  clone.fixVersions = asArray(clone.fixVersions);\n  clone.relationships = clone.relationships || {};\n  clone.fetchErrors = asArray(clone.fetchErrors);\n  return clone;\n}\n\nfunction renderRecList(issue, recMap) {\n  const recKeys = unique(issue.relationships ? issue.relationships.recKeys : []);\n  if (!recKeys.length) return '';\n  const lines = ['#### REC relacionados'];\n  for (const recKey of recKeys) {\n    const rec = recMap.get(recKey);\n    const summary = compactText(rec && rec.summary, 140);\n    lines.push(summary ? '- ' + recKey + ' - ' + summary : '- ' + recKey);\n  }\n  return lines.join('\\n');\n}\n\nfunction renderJiraSection(issue) {\n  const lines = ['#### Jira'];\n  if (issue.status) lines.push('- Estado: ' + issue.status);\n  if (issue.issueType) lines.push('- Tipo: ' + issue.issueType);\n  if (issue.priority) lines.push('- Prioridad: ' + issue.priority);\n  if (issue.assignee) lines.push('- Responsable: ' + issue.assignee);\n  if (issue.labels.length) lines.push('- Etiquetas: ' + issue.labels.join(', '));\n  if (issue.components.length) lines.push('- Componentes: ' + issue.components.join(', '));\n  if (issue.fixVersions.length) lines.push('- FixVersions: ' + issue.fixVersions.join(', '));\n  const relatedSis = unique(issue.relationships ? issue.relationships.relatedSisKeys : []);\n  if (relatedSis.length) lines.push('- SIS relacionados: ' + relatedSis.join(', '));\n  const recKeys = unique(issue.relationships ? issue.relationships.recKeys : []);\n  if (recKeys.length) lines.push('- REC: ' + recKeys.join(', '));\n  if (issue.description) lines.push('- Descripcion: ' + issue.description);\n  return lines.join('\\n');\n}\n\nfunction renderCommentsSection(issue) {\n  const comments = asArray(issue.comments).filter((comment) => comment && comment.body);\n  if (!comments.length) return '';\n  const lines = ['#### Resumen de comentarios Jira'];\n  for (const comment of comments) {\n    const meta = [formatDateTime(comment.created), comment.author].filter(Boolean).join(' - ');\n    const summary = compactText(comment.body, 320);\n    lines.push(meta ? '- ' + meta + ': ' + summary : '- ' + summary);\n  }\n  return lines.join('\\n');\n}\n\nfunction renderFilesSection(files) {\n  const validFiles = asArray(files).filter((file) => file && file.filename);\n  if (!validFiles.length) return '';\n  const lines = ['##### Archivos modificados'];\n  for (const file of validFiles) {\n    const metrics = [\n      file.status || 'modified',\n      file.additions !== undefined ? '+' + file.additions : null,\n      file.deletions !== undefined ? '-' + file.deletions : null,\n      file.changes !== undefined ? file.changes + ' cambios' : null\n    ].filter(Boolean).join(' | ');\n    lines.push('- ' + file.filename + (metrics ? ' - ' + metrics : ''));\n  }\n  return lines.join('\\n');\n}\n\nfunction renderCommitSection(commit) {\n  const shortSha = commit.sha ? String(commit.sha).slice(0, 10) : 'sin-sha';\n  const meta = [formatDateTime(commit.date), commit.author].filter(Boolean).join(' - ');\n  const lines = ['- ' + shortSha + (meta ? ' - ' + meta : '')];\n  lines.push('  Mensaje: ' + cleanCommitMessage(commit.message));\n  const stats = formatStats(commit.stats, commit.files.length);\n  if (stats) lines.push('  Stats: ' + stats);\n  const filesSection = renderFilesSection(commit.files);\n  if (filesSection) lines.push(filesSection);\n  return lines.join('\\n');\n}\n\nfunction renderIncomplete(issue, linkedCommits) {\n  const notes = [];\n  if (!linkedCommits.length) notes.push('No se encontraron commits asociados en la evidencia del lote.');\n  if (issue.fetchStatus && issue.fetchStatus !== 'retrieved') notes.push('Jira no pudo recuperarse completamente (' + issue.fetchStatus + ').');\n  if (issue.fetchErrors.length) notes.push('Errores Jira detectados: ' + issue.fetchErrors.map((error) => error.message).filter(Boolean).join(' | '));\n  return notes.length ? ['#### Evidencia incompleta'].concat(notes.map((note) => '- ' + note)).join('\\n') : '';\n}\n\nfunction renderIssueSection(issue, batchCommits, recMap) {\n  const relatedCommitShas = unique(asArray(issue.originCommitShas).concat(batchCommits.filter((commit) => asArray(commit.originSisKeys).includes(issue.key)).map((commit) => commit.sha)));\n  const linkedCommits = batchCommits.filter((commit) => relatedCommitShas.includes(commit.sha));\n  const title = issue.summary ? issue.key + ' - ' + issue.summary : issue.key;\n  const sections = [\n    '### ' + title,\n    renderJiraSection(issue),\n    renderRecList(issue, recMap),\n    '#### Commits asociados',\n    linkedCommits.length ? linkedCommits.map(renderCommitSection).join('\\n\\n') : '- Sin commits asociados en este lote.',\n    renderCommentsSection(issue),\n    renderIncomplete(issue, linkedCommits)\n  ].filter(Boolean);\n  return sections.join('\\n\\n');\n}\n\nfunction renderBatchMarkdown(batchIndex, batchCommits, batchWorkItems, batchRecItems, batchSisKeys, batchRecKeys, releaseVersion) {\n  const recMap = new Map(batchRecItems.map((item) => [item.key, item]));\n  const filesTotal = batchCommits.reduce((total, commit) => total + asArray(commit.files).length, 0);\n  const lines = [\n    '## Lote ' + batchIndex,\n    '',\n    '### Resumen del lote',\n    '- Release: ' + releaseVersion,\n    '- Commits cubiertos: ' + batchCommits.length,\n    '- SIS impactados: ' + batchSisKeys.length,\n    '- REC impactados: ' + batchRecKeys.length,\n    '- Archivos modificados: ' + filesTotal,\n    ''\n  ];\n  for (const issue of batchWorkItems) {\n    lines.push(renderIssueSection(issue, batchCommits, recMap));\n    lines.push('');\n  }\n  return lines.join('\\n').trim();\n}\n\nconst globalSummary = (fullEvidence.diagnostics && fullEvidence.diagnostics.stats) || (rawRelease.diagnostics && rawRelease.diagnostics.stats) || {};\nconst commitsWithoutSis = fullEvidence.commitsWithoutSis || (rawRelease.diagnostics ? rawRelease.diagnostics.commitsWithoutSIS : []) || [];\nconst sisWithoutRec = fullEvidence.sisWithoutRec || (rawRelease.diagnostics ? rawRelease.diagnostics.sisWithoutREC : []) || [];\n\nif (input.legacyPrompt) {\n  return [{ json: { kind: 'technicalBatchRequest', batchIndex: 1, batchCount: 1, batchCommitShas: [], batchSisKeys: [], release: input.release || {}, prompt: input.legacyPrompt, technicalMarkdown: input.legacyPrompt, globalSummary: globalSummary, commitsWithoutSis: commitsWithoutSis, sisWithoutRec: sisWithoutRec } }];\n}\n\nconst commits = asArray(rawRelease.commits).map(sanitizeCommit);\nconst workItems = asArray(rawRelease.workItems).map(sanitizeIssue);\nconst recItems = asArray(rawRelease.recItems).map(sanitizeIssue);\nconst relationships = rawRelease.relationships || {};\nconst commitToSis = asArray(relationships.commitToSis);\nconst sisToRec = asArray(relationships.sisToRec);\n\nif (!commits.length) {\n  const releaseVersion = (input.release && input.release.currentVersion) || 'sin-version';\n  return [{ json: { kind: 'technicalBatchRequest', batchIndex: 1, batchCount: 1, batchCommitShas: [], batchSisKeys: [], release: input.release || {}, globalSummary: globalSummary, commitsWithoutSis: commitsWithoutSis, sisWithoutRec: sisWithoutRec, prompt: 'Release ' + releaseVersion + '. No hay commits en la evidencia.', technicalMarkdown: '## Lote 1\\n\\n### Resumen del lote\\n- No se encontraron commits en la evidencia.' } }];\n}\n\nconst chunks = chunk(commits, input.batchCommitSize || 5);\n\nreturn chunks.map((batchCommits, index) => {\n  const batchCommitShas = batchCommits.map((commit) => commit.sha).filter(Boolean);\n  const batchSisKeys = unique(batchCommits.flatMap((commit) => asArray(commit.originSisKeys)).concat(commitToSis.filter((relation) => batchCommitShas.includes(relation.commitSha)).map((relation) => relation.sisKey)));\n  const batchWorkItems = workItems.filter((item) => {\n    const key = item.key || null;\n    const originCommitShas = asArray(item.originCommitShas);\n    return batchSisKeys.includes(key) || originCommitShas.some((sha) => batchCommitShas.includes(sha));\n  });\n  const batchRecKeys = unique(sisToRec.filter((relation) => batchSisKeys.includes(relation.sisKey)).map((relation) => relation.recKey).concat(batchWorkItems.flatMap((item) => asArray(item.relationships ? item.relationships.recKeys : []))));\n  const batchRecItems = recItems.filter((item) => batchRecKeys.includes(item.key));\n  const releaseVersion = (input.release && input.release.currentVersion) || (rawRelease.release && rawRelease.release.currentVersion) || 'sin-version';\n  const technicalMarkdown = renderBatchMarkdown(index + 1, batchCommits, batchWorkItems, batchRecItems, batchSisKeys, batchRecKeys, releaseVersion);\n  return { json: { kind: 'technicalBatchRequest', batchIndex: index + 1, batchCount: chunks.length, batchCommitShas: batchCommitShas, batchSisKeys: batchSisKeys, release: input.release || rawRelease.release || {}, globalSummary: globalSummary, commitsWithoutSis: commitsWithoutSis, sisWithoutRec: sisWithoutRec, prompt: 'Sos un redactor tecnico senior de release notes. Reescribi el siguiente markdown para que quede mas profesional y prolijo, pero sin eliminar, resumir de mas, fusionar ni omitir ningun comentario Jira, archivo modificado, commit, REC, SIS relacionado o dato tecnico. Debes conservar todas las secciones y toda la evidencia. Si una seccion lista comentarios o archivos, deben seguir estando todos en la salida. No cambies el significado ni inventes informacion. Conserva literalmente la seccion `#### Resumen de comentarios Jira` cuando exista. Conserva literalmente la seccion `##### Archivos modificados` cuando exista. Conserva todos los items listados debajo de esas secciones. Limpia los mensajes de commit para que no queden delimitadores como /* */, /texto/ o envoltorios similares.\\n\\n' + technicalMarkdown, technicalMarkdown: technicalMarkdown } };\n});"
      },
      "id": "5f35765d-0e17-43a6-95c4-c73ed1d1c2a8",
      "name": "Build technical commit batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "Sos un redactor tecnico senior de notas de release. Tu trabajo es mejorar el estilo y la prolijidad del markdown sin perder evidencia. Nunca eliminas comentarios Jira, archivos modificados, commits, estados, REC, SIS relacionados ni secciones tecnicas presentes en la entrada. Si la entrada enumera elementos, la salida debe seguir enumerando todos los mismos elementos."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        112
      ],
      "id": "fe4c79d4-6cf9-468a-af7d-961c17c44a86",
      "name": "AI Agent tecnico"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function cleanCommitMessage(message) {\n  let text = String(message || '');\n  text = text.replace(/\\/\\*+/g, ' ');\n  text = text.replace(/\\*+\\//g, ' ');\n  text = text.replace(/(^|\\s)\\/+(?=\\S)/g, ' ');\n  text = text.replace(/(?<=\\S)\\/+(?=\\s|$)/g, ' ');\n  text = text.replace(/\\s+/g, ' ').trim();\n  return text || 'Sin detalle de mensaje';\n}\n\nfunction normalizeMarkdown(text) {\n  return String(text || '')\n    .replace(/Mensaje:\\s*(.+)$/gm, (_, message) => 'Mensaje: ' + cleanCommitMessage(message))\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction countSectionItems(markdown, heading) {\n  const text = String(markdown || '');\n  const escaped = heading.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const regex = new RegExp('^' + escaped + '\\\\s*$([\\\\s\\\\S]*?)(?=^####?#?\\\\s|\\\\Z)', 'im');\n  const match = text.match(regex);\n  if (!match) return 0;\n  return match[1]\n    .split(/\\r?\\n/)\n    .map((line) => line.trim())\n    .filter((line) => /^-\\s+/.test(line)).length;\n}\n\nfunction shouldUseFallback(fallback, candidate) {\n  if (!candidate) return true;\n\n  const fallbackHasComments = fallback.includes('#### Resumen de comentarios Jira');\n  const candidateHasComments = candidate.includes('#### Resumen de comentarios Jira');\n  if (fallbackHasComments && !candidateHasComments) return true;\n\n  const fallbackHasFiles = fallback.includes('##### Archivos modificados');\n  const candidateHasFiles = candidate.includes('##### Archivos modificados');\n  if (fallbackHasFiles && !candidateHasFiles) return true;\n\n  const fallbackCommentItems = countSectionItems(fallback, '#### Resumen de comentarios Jira');\n  const candidateCommentItems = countSectionItems(candidate, '#### Resumen de comentarios Jira');\n  if (candidateCommentItems < fallbackCommentItems) return true;\n\n  const fallbackFileItems = countSectionItems(fallback, '##### Archivos modificados');\n  const candidateFileItems = countSectionItems(candidate, '##### Archivos modificados');\n  if (candidateFileItems < fallbackFileItems) return true;\n\n  return false;\n}\n\nconst fallbackMarkdown = normalizeMarkdown($json.technicalMarkdown || '');\nconst aiMarkdown = normalizeMarkdown($json.output || $json.text || $json.response || '');\nconst markdown = shouldUseFallback(fallbackMarkdown, aiMarkdown) ? fallbackMarkdown : aiMarkdown;\nconst status = !markdown ? 'emptyResponse' : markdown === fallbackMarkdown && aiMarkdown && aiMarkdown !== fallbackMarkdown ? 'generatedWithFallback' : 'generated';\n\nreturn {\n  json: {\n    kind: 'technicalBatchMarkdown',\n    batchIndex: Number($json.batchIndex || 0),\n    batchCount: Number($json.batchCount || 0),\n    batchCommitShas: Array.isArray($json.batchCommitShas) ? $json.batchCommitShas : [],\n    batchSisKeys: Array.isArray($json.batchSisKeys) ? $json.batchSisKeys : [],\n    release: $json.release || {},\n    globalSummary: $json.globalSummary || {},\n    commitsWithoutSis: Array.isArray($json.commitsWithoutSis) ? $json.commitsWithoutSis : [],\n    sisWithoutRec: Array.isArray($json.sisWithoutRec) ? $json.sisWithoutRec : [],\n    technicalMarkdown: markdown || null,\n    status: status\n  }\n};"
      },
      "id": "08d9c701-5c73-43e7-8c8b-73764ea21eeb",
      "name": "Normalize technical batch response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        112
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map((item) => item.json || {});\nconst ordered = rows.sort((a, b) => Number(a.batchIndex || 0) - Number(b.batchIndex || 0));\nif (!ordered.length) throw new Error('No technical batch markdown was generated.');\n\nfunction cleanCommitMessage(message) {\n  let text = String(message || '');\n  text = text.replace(/\\/\\*+/g, ' ');\n  text = text.replace(/\\*+\\//g, ' ');\n  text = text.replace(/(^|\\s)\\/+(?=\\S)/g, ' ');\n  text = text.replace(/(?<=\\S)\\/+(?=\\s|$)/g, ' ');\n  text = text.replace(/\\s+/g, ' ').trim();\n  return text || 'Sin detalle de mensaje';\n}\n\nfunction cleanText(text) {\n  let value = String(text || '').trim();\n  value = value.replace(/^#\\s+Release\\s+.*?\\n+/i, '');\n  value = value.replace(/^##\\s+Alcance tecnico\\n+[\\s\\S]*?(?=^##\\s|^###\\s|^##\\sLote\\s|\\Z)/im, '');\n  value = value.replace(/^##\\s+Resumen de trazabilidad\\n+[\\s\\S]*?(?=^##\\s|^###\\s|^##\\sLote\\s|\\Z)/im, '');\n  value = value.replace(/Mensaje:\\s*(.+)$/gm, (_, message) => 'Mensaje: ' + cleanCommitMessage(message));\n  value = value.replace(/\\n{3,}/g, '\\n\\n');\n  return value.trim();\n}\n\nconst release = ordered[0].release || {};\nconst releaseVersion = release.currentVersion || 'sin-version';\nconst globalSummary = ordered[0].globalSummary || {};\nconst commitsWithoutSis = ordered[0].commitsWithoutSis || [];\nconst sisWithoutRec = ordered[0].sisWithoutRec || [];\nconst mergedBatches = ordered.map((row) => cleanText(row.technicalMarkdown)).filter(Boolean).join('\\n\\n---\\n\\n').trim();\n\nconst summaryLines = [\n  ['Commits totales', globalSummary.commits],\n  ['Commits con archivos', globalSummary.commitsWithFiles],\n  ['Archivos totales', globalSummary.filesTotal],\n  ['SIS primarios', globalSummary.primarySis],\n  ['SIS relacionados', globalSummary.relatedSis],\n  ['REC', globalSummary.recs],\n  ['SIS con comentarios', globalSummary.sisWithComments]\n].filter((entry) => entry[1] !== undefined && entry[1] !== null).map((entry) => '- ' + entry[0] + ': ' + entry[1]).join('\\n');\n\nconst commitsWithoutSisLines = commitsWithoutSis.length ? commitsWithoutSis.slice(0, 120).map((commit) => {\n  const shortSha = commit && commit.sha ? String(commit.sha).slice(0, 10) : 'sin-sha';\n  const message = cleanCommitMessage((commit && commit.message) || 'sin mensaje');\n  return '- ' + shortSha + ': ' + message;\n}).join('\\n') : '';\n\nconst sisWithoutRecLines = sisWithoutRec.length ? sisWithoutRec.map((key) => '- ' + key).join('\\n') : '';\n\nlet finalReadme = '# Release ' + releaseVersion + '\\n';\nif (summaryLines) finalReadme += '\\n## Resumen de trazabilidad\\n' + summaryLines + '\\n';\nif (mergedBatches) finalReadme += '\\n## Cambios detallados\\n' + mergedBatches + '\\n';\nif (commitsWithoutSisLines) finalReadme += '\\n## Commits sin SIS\\n' + commitsWithoutSisLines + '\\n';\nif (sisWithoutRecLines) finalReadme += '\\n## SIS sin REC\\n' + sisWithoutRecLines + '\\n';\nfinalReadme = finalReadme.replace(/\\n{3,}/g, '\\n\\n').trim();\n\nreturn [{ json: { kind: 'technicalReadmeResult', status: finalReadme ? 'generated' : 'emptyResponse', technicalReadme: finalReadme || null, output: finalReadme || null, text: finalReadme || null, response: finalReadme || null, mergedMarkdown: mergedBatches || null, batchSummaries: ordered.map((row) => ({ batchIndex: row.batchIndex, batchCommitShas: row.batchCommitShas || [], batchSisKeys: row.batchSisKeys || [], status: row.status || 'unknown' })) } }];"
      },
      "id": "3649680f-6ad9-4b48-aa7d-664e21d244b9",
      "name": "Assemble final README from commit batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        112
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        816,
        336
      ],
      "id": "ee6c8316-f7b9-4b7c-b331-5eee5355dd01",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "0HAyY9p01eIXBYcb",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When executed by another workflow": {
      "main": [
        [
          {
            "node": "Normalize batch pipeline input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize batch pipeline input": {
      "main": [
        [
          {
            "node": "Build technical commit batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build technical commit batches": {
      "main": [
        [
          {
            "node": "AI Agent tecnico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent tecnico": {
      "main": [
        [
          {
            "node": "Normalize technical batch response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize technical batch response": {
      "main": [
        [
          {
            "node": "Assemble final README from commit batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent tecnico",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c8b59c23-195d-4ed3-98c7-8555a8cb7c90",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b16b1df538ba12dc3f97edbb85caa7050d46c148134290feba80f8236c83db9"
  },
  "id": "BJDjPtADWQvKMCxq",
  "tags": []
}
