JsatReadme - 06 - Save README to file.json
{
  "name": "JsatReadme - 06 - Save README to file",
  "nodes": [
    {
      "parameters": {},
      "id": "1b5a3b7a-55c6-4871-a0b3-6ed3cb608061",
      "name": "When executed by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        32,
        160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const input = { ...(item.json || {}) };\n  const technicalReadme = String(\n    input.technicalReadme ||\n    input.output ||\n    input.text ||\n    input.response ||\n    ''\n  ).trim();\n\n  if (!technicalReadme) {\n    throw new Error('Missing technicalReadme/output/text/response to save as Markdown file.');\n  }\n\n  const releaseVersion = String(\n    input.releaseVersion ||\n    input.release?.currentVersion ||\n    input.raw?.release?.currentVersion ||\n    input.raw?.raw?.release?.currentVersion ||\n    'unknown'\n  ).trim();\n\n  const baseDir = String(\n    input.outputDir ||\n    'C:/Users/mateo-soto/Desktop/proyectos/JsatReadme'\n  ).trim().replace(/\\\\/g, '/').replace(/\\/$/, '');\n\n  const readmeFileName = String(\n    input.readmeFileName ||\n    `README-release-${releaseVersion}.md`\n  ).trim().replace(/[<>:\"/\\\\|?*]+/g, '-');\n\n  const htmlFileName = readmeFileName.replace(/\\.md$/i, '') + '.html';\n\n  const mdOutputPath = `${baseDir}/${readmeFileName}`;\n  const htmlOutputPath = `${baseDir}/${htmlFileName}`;\n\n  const htmlContent = `<!DOCTYPE html>\\n<html>\\n<head>\\n  <meta charset=\"utf-8\">\\n  <title>Release Report ${releaseVersion}</title>\\n  <script src=\"https://cdn.jsdelivr.net/npm/marked/marked.min.js\"></script>\\n  <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.0/github-markdown.min.css\">\\n  <style>\\n    body { box-sizing: border-box; min-width: 200px; max-width: 980px; margin: 0 auto; padding: 45px; }\\n    @media (max-width: 767px) { body { padding: 15px; } }\\n  </style>\\n</head>\\n<body class=\"markdown-body\">\\n  <div id=\"content\"></div>\\n  <script>\\n    const markdown = decodeURIComponent(\"${encodeURIComponent(technicalReadme)}\");\\n    document.getElementById('content').innerHTML = marked.parse(markdown);\\n  </script>\\n</body>\\n</html>`;\n\n  results.push({\n    json: {\n      ...input,\n      kind: 'savedReadmeRequest',\n      releaseVersion,\n      readmeFileName,\n      outputDir: baseDir,\n      outputPath: mdOutputPath,\n      technicalReadme,\n    },\n    binary: {\n      data: {\n        data: Buffer.from(technicalReadme, 'utf8').toString('base64'),\n        mimeType: 'text/markdown',\n        fileName: readmeFileName,\n        fileExtension: 'md',\n      },\n    },\n  });\n\n  results.push({\n    json: {\n      ...input,\n      kind: 'savedReadmeRequestHtml',\n      releaseVersion,\n      readmeFileName: htmlFileName,\n      outputDir: baseDir,\n      outputPath: htmlOutputPath,\n      technicalReadme,\n    },\n    binary: {\n      data: {\n        data: Buffer.from(htmlContent, 'utf8').toString('base64'),\n        mimeType: 'text/html',\n        fileName: htmlFileName,\n        fileExtension: 'html',\n      },\n    },\n  });\n}\n\nreturn results;"
      },
      "id": "e2462aa1-ecad-48e2-b269-e8acd2337b6c",
      "name": "Prepare README file payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        160
      ]
    },
    {
      "parameters": {
        "fileName": "={{ $json.outputPath }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "918b0f16-f912-4e47-ae5c-f4b871e04d75",
      "name": "Write README markdown file",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        576,
        160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    kind: 'savedReadmeResult',\n    status: 'saved',\n    outputPath: $json.outputPath,\n    readmeFileName: $json.readmeFileName,\n    releaseVersion: $json.releaseVersion,\n    technicalReadme: $json.technicalReadme,\n  },\n};"
      },
      "id": "f1a9e7f6-1fb9-4dd2-8d06-c038973dd5a1",
      "name": "Return saved README metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When executed by another workflow": {
      "main": [
        [
          {
            "node": "Prepare README file payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare README file payload": {
      "main": [
        [
          {
            "node": "Write README markdown file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write README markdown file": {
      "main": [
        [
          {
            "node": "Return saved README metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d4c1aeea-57b7-48c0-b01a-fcfc41757e64",
  "meta": {
    "instanceId": "1b16b1df538ba12dc3f97edbb85caa7050d46c148134290feba80f8236c83db9"
  },
  "id": "saveReadmeWorkflow06",
  "tags": []
}
