JsatReadme - 04 - Release Evidence Assembler (detailed).json
{
  "name": "JsatReadme - 04 - Release Evidence Assembler (detailed)",
  "nodes": [
    {
      "parameters": {
        "content": "# Release assembler\n**Entrada:** todos los `commitRecord` e `issueRecord` acumulados.\n\n**Salida:** `rawRelease`, archivo JSON y `aiPrompt` acotado.",
        "height": 150,
        "width": 880,
        "color": 5
      },
      "id": "b95738df-c273-4904-8426-391722f88415",
      "name": "NOTE - 180",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        -112
      ]
    },
    {
      "parameters": {},
      "id": "d18a06df-3b88-4f7d-91dd-38f24cf0cdfe",
      "name": "When executed by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "function asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction uniqueBy(items, getKey) {\n  const seen = new Set();\n\n  return items.filter((item) => {\n    const key = getKey(item);\n\n    if (!key || seen.has(key)) {\n      return false;\n    }\n\n    seen.add(key);\n    return true;\n  });\n}\n\nconst rows = $input.all()\n  .map((item) => item.json)\n  .filter((row) => row && typeof row === 'object');\n\nconst context =\n  rows.find((row) => row.context)?.context ||\n  rows.find((row) => row.kind === 'releaseControl')?.context ||\n  {};\n\nconst commits = rows.filter((row) => row.kind === 'commitRecord');\nconst issues = rows.filter((row) => row.kind === 'issueRecord');\n\nconst primarySis = issues.filter((row) => row.role === 'primary');\nconst relatedSis = issues.filter((row) => row.role === 'related');\nconst recs = issues.filter((row) => row.role === 'rec');\n\nconst commitToSis = [];\n\nfor (const row of commits) {\n  const sha = row.github?.commit?.sha || null;\n\n  for (const sisKey of asArray(row.originSisKeys)) {\n    if (!sha || !sisKey) {\n      continue;\n    }\n\n    commitToSis.push({\n      commitSha: sha,\n      sisKey,\n      source: row.sisDetection?.source || 'commitMessage',\n    });\n  }\n}\n\nconst sisToRec = [];\nconst dependencies = [];\n\nfor (const row of [...primarySis, ...relatedSis]) {\n  const issue = row.issue || {};\n  const relationships = issue.relationships || issue.normalized?.relationships || {};\n\n  for (const recKey of asArray(relationships.recKeys)) {\n    if (!row.issueKey || !recKey) {\n      continue;\n    }\n\n    sisToRec.push({\n      sisKey: row.issueKey,\n      recKey,\n      source: 'jira',\n    });\n  }\n\n  for (const relatedSisKey of asArray(relationships.relatedSisKeys)) {\n    if (!row.issueKey || !relatedSisKey) {\n      continue;\n    }\n\n    dependencies.push({\n      fromSisKey: row.issueKey,\n      toSisKey: relatedSisKey,\n      source: 'jira',\n    });\n  }\n}\n\nfunction preserveCommit(row) {\n  const commit = row.github?.commit || {};\n\n  return {\n    ...commit,\n    originSisKeys: asArray(row.originSisKeys),\n    sisDetection: row.sisDetection || null,\n  };\n}\n\nfunction preserveIssue(row) {\n  const issue = row.issue || {};\n  const normalized = issue.normalized || {};\n  const relationships = issue.relationships || {};\n  const evidence = issue.evidence || {};\n\n  return {\n    role: row.role,\n    key: row.issueKey,\n    browseUrl: issue.browseUrl || null,\n    fetchStatus: issue.fetchStatus || null,\n    originCommitShas: asArray(row.originCommitShas),\n    relatedFrom: row.relatedFrom || [],\n    summary: normalized.summary || null,\n    issueType: normalized.issueType || null,\n    status: normalized.status || null,\n    resolution: normalized.resolution || null,\n    priority: normalized.priority || null,\n    assignee: normalized.assignee || null,\n    labels: asArray(normalized.labels),\n    components: asArray(normalized.components),\n    fixVersions: asArray(normalized.fixVersions),\n    description: normalized.description || normalized.descriptionText || null,\n    descriptionText: normalized.descriptionText || normalized.description || null,\n    descriptionTruncated: Boolean(normalized.descriptionTruncated),\n    relationships,\n    comments: asArray(evidence.comments),\n    worklogs: asArray(evidence.worklogs),\n    histories: asArray(evidence.histories),\n    activityScanned: evidence.activityScanned || null,\n    fetchErrors: asArray(row.fetchErrors),\n    rawIssue: issue,\n  };\n}\n\nconst release = {\n  schemaVersion: 'jsat-release-v5',\n\n  release: {\n    repository:\n      context.repoOwner && context.repoName\n        ? `${context.repoOwner}/${context.repoName}`\n        : null,\n\n    repoOwner: context.repoOwner || null,\n    repoName: context.repoName || null,\n    currentVersion: context.currentVersion || null,\n    currentRef: context.currentRef || null,\n    previousTag: context.previousTag || null,\n    compareMeta: context.compareMeta || null,\n  },\n\n  commits: commits.map(preserveCommit),\n\n  workItems: uniqueBy(\n    [...primarySis, ...relatedSis]\n      .map(preserveIssue)\n      .filter((issue) => issue.key),\n    (issue) => issue.key\n  ),\n\n  recItems: uniqueBy(\n    recs\n      .map(preserveIssue)\n      .filter((issue) => issue.key),\n    (issue) => issue.key\n  ),\n\n  relationships: {\n    commitToSis: uniqueBy(\n      commitToSis,\n      (relation) => `${relation.commitSha}|${relation.sisKey}`\n    ),\n\n    sisToRec: uniqueBy(\n      sisToRec,\n      (relation) => `${relation.sisKey}|${relation.recKey}`\n    ),\n\n    dependencies: uniqueBy(\n      dependencies,\n      (relation) => `${relation.fromSisKey}|${relation.toSisKey}`\n    ),\n  },\n\n  diagnostics: {\n    stats: {\n      commits: commits.length,\n      primarySis: primarySis.length,\n      relatedSis: relatedSis.length,\n      recs: recs.length,\n      commitsWithFiles: commits.filter(\n        (row) => asArray(row.github?.commit?.files).length > 0\n      ).length,\n      filesTotal: commits.reduce(\n        (total, row) =>\n          total + asArray(row.github?.commit?.files).length,\n        0\n      ),\n      sisWithComments: [...primarySis, ...relatedSis].filter((row) => {\n        const issue = row.issue || {};\n        return asArray(issue.evidence?.comments).length > 0;\n      }).length,\n    },\n\n    commitsWithoutSIS: commits\n      .filter((row) => !asArray(row.originSisKeys).length)\n      .map((row) => ({\n        sha: row.github?.commit?.sha || null,\n        message: row.github?.commit?.message || null,\n        isMergeCommit: Boolean(row.github?.commit?.isMergeCommit),\n      })),\n\n    sisWithoutREC: [...primarySis, ...relatedSis]\n      .filter((row) => !asArray(row.issue?.relationships?.recKeys).length)\n      .map((row) => row.issueKey)\n      .filter(Boolean),\n  },\n};\n\nconst rawText = JSON.stringify(release);\n\nreturn {\n  json: {\n    rawRelease: release,\n    rawFileName: `jsat-release-${context.currentVersion || 'unknown'}.json`,\n    batchCommitSize: Number(context.batchCommitSize || 5),\n    batchIndex: context.batchIndex || '',\n    localAiBaseUrl: String(context.localAiBaseUrl || 'http://localhost:11434').trim() || 'http://localhost:11434',\n    localAiModel: String(context.localAiModel || 'qwen3:32b').trim() || 'qwen3:32b',\n    aiPayloadMeta: {\n      rawReleaseChars: rawText.length,\n      maxAiPayloadChars: Math.max(\n        60000,\n        Math.min(Number(context.maxAiPayloadChars || 180000), 260000)\n      ),\n      note: 'The AI prompt is built separately as structured technical evidence. rawRelease retains the complete audit payload.',\n    },\n  },\n};"
      },
      "id": "97ace0d6-85d9-4905-9424-79689eb54e65",
      "name": "Assemble release evidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        208
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "={{ $json.rawFileName }}"
        }
      },
      "id": "5eb3a9f3-1811-486d-9010-63211945e380",
      "name": "Convert release JSON to file",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [
        432,
        112
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $json.rawRelease || {};\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction unique(values) {\n  return [...new Set(values.filter(Boolean))];\n}\n\nfunction cut(value, max) {\n  if (value === null || value === undefined) {\n    return null;\n  }\n\n  const result = String(value).trim();\n\n  if (!result) {\n    return null;\n  }\n\n  return result.length > max\n    ? `${result.slice(0, max)}…`\n    : result;\n}\n\nfunction getIssueBody(row) {\n  return row?.normalized || row?.issue || row?.jira || row || {};\n}\n\nfunction getIssueFields(issue) {\n  return issue?.fields || {};\n}\n\nfunction normalizeComment(comment) {\n  if (typeof comment === 'string') {\n    return {\n      author: null,\n      created: null,\n      body: cut(comment, 1600),\n    };\n  }\n\n  return {\n    author:\n      comment?.author?.displayName ||\n      comment?.author?.name ||\n      comment?.author?.emailAddress ||\n      comment?.author ||\n      null,\n\n    created: comment?.created || comment?.date || null,\n\n    body: cut(\n      comment?.body ||\n      comment?.text ||\n      comment?.content ||\n      comment?.comment ||\n      '',\n      1600\n    ),\n  };\n}\n\nfunction normalizeWorklog(worklog) {\n  if (typeof worklog === 'string') {\n    return {\n      author: null,\n      started: null,\n      timeSpent: null,\n      comment: cut(worklog, 1000),\n    };\n  }\n\n  return {\n    author:\n      worklog?.author?.displayName ||\n      worklog?.author?.name ||\n      worklog?.author ||\n      null,\n\n    started: worklog?.started || null,\n    timeSpent:\n      worklog?.timeSpent ||\n      worklog?.timeSpentSeconds ||\n      null,\n\n    comment: cut(\n      worklog?.comment ||\n      worklog?.body ||\n      worklog?.text ||\n      '',\n      1000\n    ),\n  };\n}\n\nfunction normalizeHistory(history) {\n  return {\n    author:\n      history?.author?.displayName ||\n      history?.author?.name ||\n      history?.author ||\n      null,\n\n    created: history?.created || null,\n\n    items: asArray(history?.items)\n      .slice(0, 20)\n      .map((item) => ({\n        field: item?.field || null,\n        from: item?.fromString || item?.from || null,\n        to: item?.toString || item?.to || null,\n      })),\n  };\n}\n\nfunction normalizeLinkedIssue(link) {\n  return {\n    key:\n      link?.key ||\n      link?.issueKey ||\n      link?.outwardIssue?.key ||\n      link?.inwardIssue?.key ||\n      null,\n\n    summary: cut(\n      link?.summary ||\n      link?.outwardIssue?.fields?.summary ||\n      link?.inwardIssue?.fields?.summary ||\n      '',\n      500\n    ),\n\n    relation:\n      link?.relation ||\n      link?.linkType ||\n      link?.type?.name ||\n      link?.type ||\n      null,\n  };\n}\n\nfunction normalizeFile(file, includePatch) {\n  return {\n    path: file?.filename || file?.path || null,\n    status: file?.status || null,\n    additions: file?.additions ?? null,\n    deletions: file?.deletions ?? null,\n    changes: file?.changes ?? null,\n    patch: includePatch ? cut(file?.patch, 900) : null,\n  };\n}\n\nconst release = source.release || {};\nconst rawCommits = asArray(source.commits);\nconst rawWorkItems = asArray(source.workItems);\nconst rawRecItems = asArray(source.recItems);\nconst relations = source.relationships || {};\n\nconst commitsBySha = new Map();\n\nfor (const commit of rawCommits) {\n  if (commit?.sha) {\n    commitsBySha.set(commit.sha, commit);\n  }\n}\n\nconst sisToCommitShas = new Map();\n\nfor (const relation of asArray(relations.commitToSis)) {\n  if (!relation?.sisKey || !relation?.commitSha) {\n    continue;\n  }\n\n  if (!sisToCommitShas.has(relation.sisKey)) {\n    sisToCommitShas.set(relation.sisKey, []);\n  }\n\n  sisToCommitShas.get(relation.sisKey).push(relation.commitSha);\n}\n\nconst sisToRecKeys = new Map();\n\nfor (const relation of asArray(relations.sisToRec)) {\n  if (!relation?.sisKey || !relation?.recKey) {\n    continue;\n  }\n\n  if (!sisToRecKeys.has(relation.sisKey)) {\n    sisToRecKeys.set(relation.sisKey, []);\n  }\n\n  sisToRecKeys.get(relation.sisKey).push(relation.recKey);\n}\n\nfunction buildCommitEvidence(commit, includePatch) {\n  return {\n    sha: commit.sha || null,\n    shortSha: commit.sha ? String(commit.sha).slice(0, 10) : null,\n    message: cut(commit.message, 1200),\n    date: commit.date || null,\n    author: commit.author || null,\n    isMergeCommit: Boolean(commit.isMergeCommit),\n    detailStatus: commit.detailStatus || null,\n    stats: commit.stats || null,\n    filesTotal: Number(commit.filesTotal || asArray(commit.files).length || 0),\n    files: asArray(commit.files)\n      .slice(0, 35)\n      .map((file) => normalizeFile(file, includePatch)),\n    fetchError: commit.fetchError || null,\n  };\n}\n\nfunction buildIssueEvidence(row, type) {\n  const issue = getIssueBody(row);\n  const fields = getIssueFields(issue);\n  const key = row?.key || issue?.key || null;\n\n  const linkedShas = unique([\n    ...asArray(row?.originCommitShas),\n    ...asArray(issue?.originCommitShas),\n    ...asArray(sisToCommitShas.get(key)),\n  ]);\n\n  const linkedCommits = linkedShas\n    .map((sha) => commitsBySha.get(sha))\n    .filter(Boolean)\n    .map((commit) =>\n      buildCommitEvidence(\n        commit,\n        // Patch solo cuando hay pocos commits; los archivos siempre se incluyen.\n        linkedShas.length <= 6\n      )\n    );\n\n  const comments = asArray(\n    issue?.comments ||\n    issue?.commentRows ||\n    issue?.comment?.comments ||\n    row?.comments\n  )\n    .map(normalizeComment)\n    .filter((comment) => comment.body)\n    .sort((a, b) => {\n      const left = Date.parse(a?.created || '') || 0;\n      const right = Date.parse(b?.created || '') || 0;\n      return right - left;\n    })\n    .slice(0, 2);\n\n  const worklogs = asArray(\n    issue?.worklogs ||\n    issue?.worklogRows ||\n    issue?.worklog?.worklogs ||\n    row?.worklogs\n  )\n    .slice(0, 20)\n    .map(normalizeWorklog);\n\n  const changelog = asArray(\n    issue?.histories ||\n    issue?.changelog?.histories ||\n    row?.histories ||\n    row?.changelog?.histories\n  )\n    .slice(0, 30)\n    .map(normalizeHistory);\n\n  return {\n    type,\n    key,\n\n    summary: cut(\n      issue?.summary ||\n      fields?.summary ||\n      row?.summary ||\n      '',\n      1500\n    ),\n\n    description: cut(\n      issue?.description ||\n      fields?.description ||\n      row?.description ||\n      '',\n      5000\n    ),\n\n    status:\n      issue?.status ||\n      fields?.status?.name ||\n      row?.status ||\n      null,\n\n    issueType:\n      issue?.issueType ||\n      fields?.issuetype?.name ||\n      row?.issueType ||\n      null,\n\n    priority:\n      issue?.priority ||\n      fields?.priority?.name ||\n      row?.priority ||\n      null,\n\n    assignee:\n      issue?.assignee ||\n      fields?.assignee?.displayName ||\n      null,\n\n    labels: asArray(issue?.labels || fields?.labels || row?.labels).slice(0, 30),\n\n    relatedRecKeys: unique([\n      ...asArray(row?.relatedRecKeys),\n      ...asArray(issue?.relationships?.recKeys),\n      ...asArray(sisToRecKeys.get(key)),\n    ]),\n\n    relatedSisKeys: unique([\n      ...asArray(row?.relatedSisKeys),\n      ...asArray(issue?.relationships?.relatedSisKeys),\n    ]),\n\n    linkedIssues: asArray(\n      issue?.linkedIssues ||\n      issue?.issuelinks ||\n      fields?.issuelinks ||\n      row?.linkedIssues\n    )\n      .slice(0, 30)\n      .map(normalizeLinkedIssue),\n\n    comments,\n    worklogs,\n    changelog,\n\n    commits: linkedCommits,\n\n    evidenceAvailability: {\n      jiraDescription: Boolean(\n        issue?.description ||\n        fields?.description ||\n        row?.description\n      ),\n\n      jiraComments: comments.length,\n      jiraWorklogs: worklogs.length,\n      jiraChangelogEntries: changelog.length,\n      commits: linkedCommits.length,\n      commitsWithFiles: linkedCommits.filter(\n        (commit) => commit.files.length > 0\n      ).length,\n      files: linkedCommits.reduce(\n        (total, commit) => total + commit.files.length,\n        0\n      ),\n    },\n  };\n}\n\nconst primarySis = rawWorkItems\n  .filter((item) => item.role === 'primary')\n  .map((item) => buildIssueEvidence(item, 'primarySis'));\n\nconst relatedSis = rawWorkItems\n  .filter((item) => item.role === 'related')\n  .map((item) => buildIssueEvidence(item, 'relatedSis'));\n\nconst recs = rawRecItems.map((item) => buildIssueEvidence(item, 'rec'));\n\nconst commitsWithoutSis = asArray(source.diagnostics?.commitsWithoutSIS)\n  .slice(0, 80)\n  .map((commit) => ({\n    sha: commit.sha || null,\n    shortSha: commit.sha ? String(commit.sha).slice(0, 10) : null,\n    message: cut(commit.message, 900),\n    isMergeCommit: Boolean(commit.isMergeCommit),\n  }));\n\nconst fullEvidence = {\n  release: {\n    repository: release.repository || null,\n    currentVersion: release.currentVersion || null,\n    currentRef: release.currentRef || null,\n    previousTag: release.previousTag || null,\n  },\n\n  diagnostics: source.diagnostics || {},\n\n  primarySis,\n  relatedSis,\n  recs,\n\n  commitsWithoutSis,\n\n  sisWithoutRec: asArray(source.diagnostics?.sisWithoutREC).slice(0, 100),\n};\n\nconst maxChars = Math.max(\n  70000,\n  Math.min(\n    Number($json.aiPayloadMeta?.maxAiPayloadChars || 180000),\n    260000\n  )\n);\n\n// Se priorizan archivos y comentarios. Si hace falta recortar,\n// se eliminan patches antes que archivos o contexto Jira.\nfunction reduceForBudget(evidence) {\n  const copy = JSON.parse(JSON.stringify(evidence));\n\n  for (const issue of [...copy.primarySis, ...copy.relatedSis, ...copy.recs]) {\n    for (const commit of issue.commits) {\n      for (const file of commit.files) {\n        file.patch = null;\n      }\n    }\n  }\n\n  return copy;\n}\n\nlet evidence = fullEvidence;\nlet evidenceText = JSON.stringify(evidence, null, 2);\nlet budgetMode = 'full';\n\nif (evidenceText.length > maxChars) {\n  evidence = reduceForBudget(fullEvidence);\n  evidenceText = JSON.stringify(evidence, null, 2);\n  budgetMode = 'withoutPatches';\n}\n\nif (evidenceText.length > maxChars) {\n  // Último recorte: conserva todos los SIS, pero limita los comentarios largos\n  // y archivos por commit; nunca vuelve a headerOnly.\n  evidence = JSON.parse(JSON.stringify(evidence));\n\n  for (const issue of [...evidence.primarySis, ...evidence.relatedSis, ...evidence.recs]) {\n    issue.comments = issue.comments.slice(0, 8);\n    issue.worklogs = issue.worklogs.slice(0, 8);\n    issue.changelog = issue.changelog.slice(0, 12);\n\n    for (const commit of issue.commits) {\n      commit.files = commit.files.slice(0, 20);\n    }\n  }\n\n  evidenceText = JSON.stringify(evidence, null, 2);\n  budgetMode = 'compactEvidence';\n}\n\nconst prompt = `Sos un arquitecto técnico senior de JSAT.\n\nGenerá UN ÚNICO README TÉCNICO en Markdown real y listo para guardar como archivo .md.\n\nNo devuelvas JSON.\nNo escapes los saltos de línea: usá saltos Markdown reales.\nNo escribas texto fuera del README.\nNo inventes archivos, clases, stored procedures, tablas, endpoints, comentarios Jira, worklogs, comportamientos ni riesgos.\n\nLa evidencia contiene por SIS:\n- descripción, comentarios, worklogs y changelog Jira;\n- REC vinculados;\n- commits asociados;\n- archivos modificados por commit;\n- métricas de additions/deletions/changes;\n- patches cuando el presupuesto lo permitió.\n\nREGLAS DE FORMATO:\n- No uses barras invertidas antes de títulos o listas.\n- No imprimas \"\\\\n\" literalmente.\n- Usá listas Markdown normales.\n- Cada archivo debe figurar bajo su commit correspondiente.\n- Para archivos sin patch, no inventes aclaraciones ni agregues notas sobre patch faltante.\n- No declares \"evidencia incompleta crítica\" de forma global si sí existen archivos o comentarios para otros SIS.\n- La sección \"Evidencia incompleta\" es por SIS y solo enumera los datos realmente ausentes.\n\nESTRUCTURA OBLIGATORIA:\n\n# Release ${release.currentVersion || 'sin versión'}\n\n## Alcance técnico\n\n## Resumen de trazabilidad\nIncluí totales y cobertura real:\n- commits totales;\n- commits con archivos;\n- cantidad de archivos;\n- SIS con comentarios;\n- SIS con REC;\n- commits sin SIS;\n- SIS sin REC.\n\n## Cambios detallados por SIS\n\n### SIS-XXXX — Título\n\n#### Jira\n- Estado, tipo, prioridad, responsable, etiquetas.\n- Descripción.\n\n#### REC relacionados\n\n#### Comentarios Jira\nPara cada comentario relevante:\n- fecha;\n- autor;\n- contenido.\n\n#### Worklogs\n\n#### Historial de estados\n\n#### Commits asociados\nPara cada commit:\n- SHA corto;\n- fecha;\n- autor;\n- mensaje;\n- stats.\n\n##### Archivos modificados\nPara cada archivo:\n- ruta;\n- estado;\n- additions;\n- deletions;\n- changes.\n\n#### Impacto técnico observado\n\n#### Pruebas recomendadas\nUsá formato:\n| Escenario | Precondición | Acción | Resultado esperado | Evidencia |\n\n## Cambios transversales sin SIS\n\n## Commits sin SIS\n\n## SIS sin REC\n\n## Matriz consolidada de pruebas\n\nEVIDENCIA ESTRUCTURADA:\n${evidenceText}`;\n\nreturn {\n  json: {\n    kind: 'technicalReadmeRequest',\n    prompt,\n    batchCommitSize: $json.batchCommitSize || 5,\n    batchIndex: $json.batchIndex || null,\n    release: fullEvidence.release,\n    rawRelease: source,\n    fullEvidence,\n\n    evidenceStats: {\n      commits: rawCommits.length,\n      commitsWithFiles: rawCommits.filter(\n        (commit) => asArray(commit.files).length > 0\n      ).length,\n\n      filesTotal: rawCommits.reduce(\n        (total, commit) => total + asArray(commit.files).length,\n        0\n      ),\n\n      primarySis: primarySis.length,\n      relatedSis: relatedSis.length,\n      recs: recs.length,\n\n      sisWithComments: primarySis.filter(\n        (sis) => sis.comments.length > 0\n      ).length,\n\n      sisWithLinkedCommits: primarySis.filter(\n        (sis) => sis.commits.length > 0\n      ).length,\n\n      promptChars: prompt.length,\n      evidenceChars: evidenceText.length,\n      maxAiPayloadChars: maxChars,\n      budgetMode,\n    },\n  },\n};"
      },
      "id": "6a5a63e6-5979-4526-8c44-d08a86fa74e9",
      "name": "Build AI README prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When executed by another workflow": {
      "main": [
        [
          {
            "node": "Assemble release evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble release evidence": {
      "main": [
        [
          {
            "node": "Convert release JSON to file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build AI README prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "960f29e5-1bf4-4388-adf2-0caf96735e9e",
  "meta": {
    "instanceId": "1b16b1df538ba12dc3f97edbb85caa7050d46c148134290feba80f8236c83db9"
  },
  "id": "dJ6fgwfxnJofzkj8",
  "tags": []
}
